.main_block {
  position: relative;
}

.main_block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 509px;
}

@media (max-width: 992px) {
  .main_block__body {
    padding: 120px 0px 191px 0px;

  }
}

.main_block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 137%;
  letter-spacing: 0.2px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 35px;
}

@media (max-width: 479px) {
  .main_block__title {
    font-size: 42px;
  }
}

.main_block__text {
  max-width: 376px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 35px;
}

@media (max-width: 479px) {
  .main_block__text {
    color: #555555;
  }
}

.main_block__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: -10px 0;
}

.main_block__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 37px;
  min-height: 48px;
  padding: 10px 36px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  margin: 5px 0;
}

@media (max-width: 479px) {
  .main_block__button {
    flex: 1 1 100%;
  }
}

/* .main_block__button:not(:last-child) {
  margin-right: 10px;
} */

.first_btn {
  color: #FFFFFF;
  background: #FF7B47;
}

.second_btn {
  border: 1px solid #0D5C63;
  color: #0D5C63;
}

.main_block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}

.main_block__image img {
  object-position: bottom;
}

@media (max-width: 1300px) {
  .main_block__image img {
    object-position: right;
  }
}

@media (max-width: 992px) {
  .main_block__image img {
    opacity: 0.5;
  }
}